# Objective

在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果。請嘗試想像一個你需要的資料結構 (裡面的值是隨機的)，然後用程式碼範例的方法把它變成 DataFrame。
Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家。
還有人口平均數


## Keyvalue:
    - Learn many ways to produce DataFrame 
    - Know different types of dictionary 
    - Learn to extract the value from DataFrame- data.iloc() & data.loc()
    

## Method: 
- [Random varibles](https://blog.csdn.net/christianashannon/article/details/78867204)
- [How to sort pandas dataframe](https://datatofish.com/sort-pandas-dataframe/)
- [學習如何利用Groupby刪減DataFrame中的column](https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas)

## Thought flow
    - Create a list with the data of many countries and their poulations. And then tyr to use List or Dict to create the DataFrame. Finally print out the contry with the most population/

In [1]:
import numpy as np 
import pandas as pd

## 方法一 (data type is dict)

In [2]:
## Data frame as a dictionary 
# Nation = pd.Series({'Taiwan', 'United States', 'Thailand'})
Tai_pop = np.random.randint(0, 1*10**8)
United_pop = np.random.randint(0, 1*10**8)
Thai_pop = np.random.randint(0, 1*10**8)

# pop = pd.Series({'Taiwan': 3*10**6, 'United States': 5*10**7, 
#                  'Thailand': 7*10**8})

pop = pd.Series({'Taiwan': Tai_pop, 'United States': United_pop, 
                 'Thailand': Thai_pop})

data = pd.DataFrame({'國家': pop.index, '人口': pop.values})
print(data)

# Sort Pandas Dataframe by population in a decending order 
data_pop = data.sort_values(by = ['人口'], inplace = False) 
data_pop

              國家        人口
0         Taiwan   2460748
1  United States   5784948
2       Thailand  46030820

              國家        人口
0         Taiwan   2460748
1  United States   5784948
2       Thailand  46030820

## 方法二 data is dict but 不同型態 (失敗)

In [ ]:
data = pd.Series([3*10**6, 5*10**7, 7*10**8], 
                 index = ['Taiwan', 'United States', 'Thailand'], 
                 dtype = np.float)
data = pd.DataFrame('國家': data.index(), '人口': data.values())

data

## 方法三 (Data type is dictionary)

In [1]:
import numpy as np 
import pandas as pd

# Create a fuction for random population 
def random_pop():
    pop = np.random.randint(0, 1*10**8)
    return pop

# Get the values of population 
Tai_pop = random_pop()
United_pop = random_pop()
Thai_pop = random_pop()
Korea_pop = random_pop()

# Only using "dictionary" can create "DataFrame"  
data = {'Nation': ['Taiwan', 'United States', 'Thailand', 'Korea'],
       'Population': [Tai_pop, United_pop, Thai_pop, Korea_pop]}
print(type(data))
df = pd.DataFrame(data)
print(df)

# Sort Pandas Dataframe by population in a decending order 
df_pop = df.sort_values(by = ['Population'], ascending = False) 
print('\n', df_pop)

print('\n' + 'The city with most population\n', df_pop[0:1])

<class 'dict'>
          Nation  Population
0         Taiwan    49804575
1  United States    55510176
2       Thailand    71261611
3          Korea    52673097

           Nation  Population
2       Thailand    71261611
1  United States    55510176
3          Korea    52673097
0         Taiwan    49804575

The city with most population
      Nation  Population
2  Thailand    71261611

## Data Selection in DataFrame (A huge Problem)

In [ ]:
print(df.loc[max(df.Population)])

## 方法四 (Data type, at first, is list, and then turns to dict)

In [2]:
import numpy as np
import pandas as pd 

# Create a fuction for random population 
def random_pop():
    pop = np.random.randint(0, 1*10**8)
    return pop

Tai_pop = random_pop()
United_pop = random_pop()
Thai_pop = random_pop()
Korea_pop = random_pop()

# Create new lables to 
nations = ['Taiwan', 'United States', 'Thailand', 'Korea']
pop = [Tai_pop, United_pop, Thai_pop, Korea_pop]
print(type(nations))

list_labels = ['Nation', 'Population']
list_cols = [nations, pop]

# using zip() funciton whcih is an iterator of tuples 
# where the first item in each passed iterator is paired together
zipped = zip(list_labels, list_cols)
print(zipped)
print(type(zipped))

# Turn the data type from 'tuple' form to 'list' 
zipped = list(zipped)
print(zipped)

# Only dict form could be transform into 'DataFrame'
data = pd.DataFrame(dict(zipped))
data

<class 'list'>
<zip object at 0x0000020C34F4E488>
<class 'zip'>
[('Nation', ['Taiwan', 'United States', 'Thailand', 'Korea']), ('Population', [32105572, 46870562, 54663323, 51312131])]

          Nation  Population
0         Taiwan    32105572
1  United States    46870562
2       Thailand    54663323
3          Korea    51312131